<br />
<br />

<div class="container" align="center" *ngIf="isLoading">
  <mat-spinner color="warn" ></mat-spinner>
  <br><br>
  <!-- For Demo Purpose -->
  <div class="col-md-2">
    <img src="./assets/img/firebog-garden-sign-crop-01a-g1.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
    <h6>One Second while we place your order</h6>
    <p class="font-italic text-muted mb-0">Jus'potatoes, we are potatoes</p>
  </div>
</div>

<div class="container" align="center" *ngIf="!isLoading && !submitButtonAvailable">
  <!-- For Demo Purpose -->
  <div class="col-md-2">
    <img src="./assets/img/dwcheckyes.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
    <h6>DONE! please find the slip sent to your email</h6>
    <br>
    <button class="btn btn-success" (click)="goHome()">go home</button>
  </div>
</div>



<div class="container" *ngIf="!isLoading && submitButtonAvailable">
<div class="col">
<table class="table" >
  <tr *ngFor="let product of Products">
    <td>
      <div class="card mb-2" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-3">
            <table>
              <tr>
                <td><img src="./assets/img/products/sample.jpg" alt="..." width="300" height="300"></td>
                <td><h2><b>R{{product.product_price}}</b></h2></td>
              </tr>
            </table>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">{{product.product_name}}</h5>
              <p class="card-text">{{product.product_description}}</p>
              <p class="card-text" (click)="add_product(product._id)"><button type="button" name="button" class="btn btn-success" [disabled]="!canOrder">add</button></p>
            </div>
          </div>
        </div>
      </div>
    </td>
    </tr>
</table>
<table *ngIf="isThereOrder" class="table-striped">
  <th>Product</th>
  <th>Price</th>
  <th>Quantity</th>
  <th>Remove Product</th>
  <tr *ngFor="let order of OrderedProducts">
    <td><b>{{order.product_name}}</b></td>
    <td><b>{{order.product_price}}</b></td>
    <td>
      <select id="quantity" (click)="quantityTotalCalculate(order._id)" class="form-control" name="quantity" [(ngModel)]="quantity" id="quantity">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="4">5</option>
        <option value="4">6</option>
        <option value="4">7</option>
      </select>
    </td>
    <td>
      <button class="btn btn-danger" (click)="deleteProdFromOrder(order._id)">remove</button>
    </td>
  </tr>
  <tr>
    <td><b><h4>Total</h4></b></td>
    <td><b>{{OrderTotal}}</b></td>
    <br />
  </tr>
  <tr>
    <button class="btn btn-success" *ngIf="submitButtonAvailable" (click)="onSubmitOrder()">submit order</button>
  </tr>
</table>
</div>
</div>
