<div class="main-content">
    <div class="container" align="center" *ngIf="isLoading">
        <mat-spinner color="warn" ></mat-spinner>
        <br><br>
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="./assets/img/jus_potatoes.svg" alt="" class="img-fluid">
            <h3>loading your orders! one moment...</h3>
            <p class="font-italic text-muted mb-0">Jus'potatoes, we are potatoes</p>

        </div>
    </div>
    <div class="container" align="centre" *ngIf="!thereIsOrder && !isLoading">
        <div>
            <!-- For Demo Purpose -->
            <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
                <img src="./assets/img/Anonymous-Package.svg" alt="" class="img-fluid">
                <h3>You Have not made any orders Yet!</h3>
                <p class="font-italic text-muted mb-0">Jus'potatoes, we are potatoes</p>

            </div>

        </div>
    </div>
    <div class="alert alert-success alert-dismissible" *ngIf="isMailSent()">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Order slip has been sent to your email: {{UserOrders[0].order_by.contact.email}}
    </div>

    <div *ngIf="thereIsOrder && !isLoading">
        <table class="table table-striped table-responsive-sm">
            <caption class="text-uppercase" *ngIf="UserOrders">List of orders: <b>{{UserOrders[0].order_by.username}}</b></caption>
            <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Items</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody *ngFor="let order of UserOrders">
                <tr [class]="order.order_status === 'ACCEPTED' ? 'table-success' : order.order_status === 'DISPATCHED' ? 'table-warning' : order.order_status === 'PENDING' ? 'table-light' : 'table-danger'">
                    <td align="left" class="text-muted">{{order.order_date.split('T')[0]}}</td>
                    <td>
                       <ol class="list-group">
                           <div *ngFor="let product of order.order_products">
                               <p class="text-muted">{{product.product_name}}</p>
                           </div>
                       </ol>
                    </td>
                    <td class="text-muted">R{{order.order_total}}</td>
                    <td class="col-form-label-sm"><button title="click to send slip to email" [disabled]="order.order_status === 'DECLINED' ? true : order.order_status === 'PENDING' ? true : false" type="button" class="btn btn-link btn-sm" (click)="getSlip(order._id)">{{order.order_status}}</button></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
