<div class="main-content">
    <div class="container-fluid" align="center" *ngIf="showError">
        <!-- For Demo Purpose -->
        <h1 class="text-gray">DEBUG</h1>
        <br>
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="./assets/img/jus_potatoes.svg" alt="" class="img-fluid">
            <h3 class="text-danger">Mmm it does not seem like you are authorized to this service, contact admin.</h3>
            <p class="font-italic text-muted mb-0">Jus'potatoes, we are potatoes</p>

        </div>
    </div>

    <div class="container" align="center" *ngIf="isLoading">
        <mat-spinner color="warn" ></mat-spinner>
        <br><br>
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="./assets/img/jus_potatoes.svg" alt="" class="img-fluid">
            <h3 class="text-warning">loading logs! one moment...</h3>
            <p class="font-italic text-muted mb-0">Jus'potatoes, we are potatoes</p>

        </div>
    </div>
    <div class="container-fluid" *ngIf="!isLoading">
        <h1 class="text-gray">DEBUG</h1>
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm table-responsive" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="th-sm">Date</th>
                <th class="th-sm">Status</th>
                <th class="th-sm">Message</th>
                <th class="th-sm">Username</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let log of Logs" [class]="log.status === 'SUCCESSFUL' ? 'table-success' : '' ">
                <td>{{log.date.split('T')[0]}}</td>
                <td >{{log.status}}</td>
                <td>{{log.message}}</td>
                <td>{{log.username}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
            </tr>
            </tfoot>
        </table>
        <mat-paginator #paginator
                       [length]="10000"
                       [pageIndex]="pageIndex"
                       [pageSize]="pageSize"
                       (page)="getServerData(pageIndex)"
                       [pageSizeOptions]="[30, 75, 125, 170]">
        </mat-paginator>

    </div>
</div>
