<!-- Navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container">
            <!-- Navbar Brand -->
            <a href="#" class="navbar-brand">
                <h3 width="150">Jus'Potatoes</h3>
            </a>
        </div>
    </nav>
</header>

<div class="container" align="center" *ngIf="isLoading">
    <mat-spinner color="warn" ></mat-spinner>
    <br><br>
    <!-- For Demo Purpose -->
    <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
        <img src="./assets/img/jus_potatoes.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
        <h1 class="text-warning">Registering you! one moment</h1>
        <p class="font-italic text-muted mb-0">Jus'potatoes, we are potatoes</p>

    </div>

</div>

<div class="container" *ngIf="!isLoading">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="./assets/img/jus_potatoes.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
            <h1>Register with us to get the best service!</h1>
            <p class="font-italic text-muted mb-0" *ngIf="!isRegister">all about potatoes, Jus'potatoes</p>
            <p class="font-italic text-muted mb-0" *ngIf="isRegister && !userValidationError">Please verify account with the OTP sent to your email!</p>
            <p class="font-italic text-muted mb-0" *ngIf="userValidationError">It seems the OTP entered is incorrect</p>
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto" *ngIf="!isRegister">
            <form #f="ngForm" [mustMatch]="['password1', 'confirmPassword1']">
                <div class="row">

                    <!-- First Name -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="username" #username1="ngModel" minlength="5" type="text" name="username" id="username" [(ngModel)]="username" placeholder="Username" class="form-control bg-white border-left-0 border-md">
                    </div>
                    <div *ngIf="username1.invalid && (username1.dirty || username1.touched)" class="alert alert-danger" role="alert"><p>Username is required, Min length 5</p></div>
                    <!-- Last Name -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="street_name" #street_name1="ngModel" required type="text" name="street_name" id="street_name" [(ngModel)]="street_name" placeholder="Street Name" class="form-control bg-white border-left-0 border-md">
                        <div *ngIf="street_name1.invalid && (street_name1.dirty || street_name1.touched)" class="alert alert-danger" role="alert"><p>street name required</p></div>
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="house_number" type="text" name="house_number" id="house_number" [(ngModel)]="house_number" placeholder="House Number" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input id="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="text" #email1="ngModel" required name="email" id="email" [(ngModel)]="email" placeholder="Email Address" class="form-control bg-white border-left-0 border-md">
                        <p *ngIf="email1.invalid && (email1.dirty || email1.touched || email1.errors?.pattern)" class="alert alert-danger" role="alert"><span>the correct email is required</span></p>
                    </div>

                    <!-- Phone Number -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square text-muted"></i>
                            </span>
                        </div>
                        <input name="cell_number" minlength="10" maxlength="10" #cell_number1='ngModel' pattern="[0-9]+" id="cell_number" type="tel" numeric [(ngModel)]="cell_number" name="cell_number" placeholder="Phone Number" class="form-control bg-white border-md border-left-0 pl-3">
                        <p *ngIf="cell_number1.invalid && (cell_number1.dirty || cell_number1.touched || cell_number1.errors?.pattern)" class="alert alert-danger" role="alert"><span>the correct number of length 10 is required</span></p>

                    </div>.


                    <!-- Job -->

                    <!-- Password -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="password" type="password" name="password" #password1='ngModel' placeholder="Password" id="password" [(ngModel)]="password" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Password Confirmation -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="passwordConfirmation" type="password" #confirmPassword1='ngModel' name="passwordConfirmation"  id="passwordConfirmation" [(ngModel)]="passwordConfirmation" placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button (click)="register()" [disabled]="!f.valid" class="btn btn-warning btn-block py-2">
                            <span class="font-weight-bold">Create your account</span>
                        </button>
                    </div>

                    <!-- Divider Text -->
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>



                    <!-- Already Registered -->
                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold">Already Registered? <a [routerLink]="['/login']" class="text-primary ml-2">Login</a></p>
                    </div>

                </div>
            </form>
        </div>
        <!-- First Name -->
        <div class="input-group col-lg-12 mb-4" *ngIf="isRegister">
            <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
            </div>
            <input id="optValue" type="text" name="optValue" id="optValue" [(ngModel)]="optValue" placeholder="optValue" class="form-control bg-white border-left-0 border-md">
            <div class="form-group col-lg-12 mx-auto mb-0">
                <a (click)="verifyOTP()" class="btn btn-warning btn-block py-2">
                    <span class="font-weight-bold">Verify Account</span>
                </a>
            </div>
        </div>
    </div>
</div>
